* {
    margin : 0 ;
    padding : 0 ;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #000;
    overflow: hidden;
}

#board {
    /* position: relative; */
    background-image: url(./fluppyBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}